
                    }
                }

                h2{
                    color: white;
                    margin: 0;
                    font-size: 24px;

                }
            }
        }

        button{
            margin: 0;
            color: white;

            &:hover{
                text-decoration: none;
                color: #0098d3;

                svg{
                    fill: #0098d3;
                }
            }
        }

        svg {
            height: 20px;
            width: 20px;
            fill: white;
            margin-left: 10px;
        }
    }

    &__products{
        display: flex;
        justify-content: space-between;
        height: calc(100vh - 70px - 120px);

        > div{
            &:first-of-type{
                
                img{
                    width: 100px;
                }

            }
        }
    }
}